node_modules/
.pnpm-debug.log

docs/.vitepress/dist
docs/.vitepress/dep-check
docs/.vitepress/cache/*

/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.DS_Store
.idea
.temp
.vite_opt_cache
.vscode
dist
cache
temp
examples-temp
pnpm-global
TODOs.md