@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('./fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('./fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

:root {
  --vp-c-brand: #42ba96;
  --vp-c-brand-light: #42ba96;
  --vp-font-family-base: 'Raleway'
}